.vscode/compileCommands_Default/
.vscode/compileCommands_PG_P1/
.vscode/compileCommands_Default.json
.vscode/compileCommands_PG_P1.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/tasks.json
Binaries/
DerivedDataCache/
Intermediate
Saved
Content/Resources/External/
