{
	"configurations": [
		{
			"name": "PG_P1Editor Editor Win64 Development (PG_P1)",
			"compilerPath": "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.29.30133\\bin\\HostX64\\x64\\cl.exe",
			"cStandard": "c17",
			"cppStandard": "c++17",
			"intelliSenseMode": "msvc-x64",
			"compileCommands": "", // "${workspaceFolder}\\.vscode\\compileCommands_PG_P1.json",
			"includePath": [
				"${workspaceFolder}\\Intermediate\\**",
				"${workspaceFolder}\\Plugins\\**",
				"${workspaceFolder}\\Source\\**",
				"C:\\Program Files\\Epic Games\\UE_5.1\\Engine\\**"
			],
			"defines": [
				"IS_PROGRAM=0",
				"UE_EDITOR=1",
				"ENABLE_PGO_PROFILE=0",
				"USE_VORBIS_FOR_STREAMING=1",
				"USE_XMA2_FOR_STREAMING=1",
				"WITH_DEV_AUTOMATION_TESTS=1",
				"WITH_PERF_AUTOMATION_TESTS=1",
				"WITH_LOW_LEVEL_TESTS=0",
				"WITH_TESTS=1",
				"UNICODE",
				"_UNICODE",
				"__UNREAL__",
				"IS_MONOLITHIC=0",
				"WITH_ENGINE=1",
				"WITH_UNREAL_DEVELOPER_TOOLS=1",
				"WITH_UNREAL_TARGET_DEVELOPER_TOOLS=1",
				"WITH_APPLICATION_CORE=1",
				"WITH_COREUOBJECT=1",
				"WITH_VERSE=1",
				"USE_STATS_WITHOUT_ENGINE=0",
				"WITH_PLUGIN_SUPPORT=0",
				"WITH_ACCESSIBILITY=1",
				"WITH_PERFCOUNTERS=1",
				"USE_LOGGING_IN_SHIPPING=0",
				"WITH_LOGGING_TO_MEMORY=0",
				"USE_CACHE_FREED_OS_ALLOCS=1",
				"USE_CHECKS_IN_SHIPPING=0",
				"USE_UTF8_TCHARS=0",
				"USE_ESTIMATED_UTCNOW=0",
				"WITH_EDITOR=1",
				"WITH_IOSTORE_IN_EDITOR=1",
				"WITH_SERVER_CODE=1",
				"WITH_SERVER_CODE_TRUSTED=1",
				"WITH_SERVER_CODE_UNTRUSTED=0",
				"UE_FNAME_OUTLINE_NUMBER=0",
				"WITH_PUSH_MODEL=1",
				"WITH_CEF3=1",
				"WITH_LIVE_CODING=1",
				"WITH_CPP_MODULES=0",
				"WITH_CPP_COROUTINES=0",
				"WITH_PROCESS_PRIORITY_CONTROL=0",
				"UBT_MODULE_MANIFEST=\"UnrealEditor.modules\"",
				"UBT_MODULE_MANIFEST_DEBUGGAME=\"UnrealEditor-Win64-DebugGame.modules\"",
				"UBT_COMPILED_PLATFORM=Win64",
				"UBT_COMPILED_TARGET=Editor",
				"UE_APP_NAME=\"UnrealEditor\"",
				"NDIS_MINIPORT_MAJOR_VERSION=0",
				"WIN32=1",
				"_WIN32_WINNT=0x0601",
				"WINVER=0x0601",
				"PLATFORM_WINDOWS=1",
				"PLATFORM_MICROSOFT=1",
				"OVERRIDE_PLATFORM_HEADER_NAME=Windows",
				"RHI_RAYTRACING=1",
				"NDEBUG=1",
				"UE_BUILD_DEVELOPMENT=1",
				"UE_IS_ENGINE_MODULE=0",
				"UE_DISABLE_INLINE_GEN_CPP=0",
				"UE_ENABLE_INCLUDE_ORDER_DEPRECATED_IN_5_1=0",
				"UE_PROJECT_NAME=PG_P1",
				"UE_TARGET_NAME=PG_P1Editor",
				"UE_MODULE_NAME=PG_P1",
				"UE_PLUGIN_NAME=",
				"IMPLEMENT_ENCRYPTION_KEY_REGISTRATION()=",
				"IMPLEMENT_SIGNING_KEY_REGISTRATION()=",
				"DEPRECATED_FORGAME=DEPRECATED",
				"UE_DEPRECATED_FORGAME=UE_DEPRECATED",
				"WITH_CLOTH_COLLISION_DETECTION=1",
				"INCLUDE_CHAOS=0",
				"WITH_CHAOS=0",
				"WITH_CHAOS_CLOTHING=0",
				"WITH_CHAOS_NEEDS_TO_BE_FIXED=0",
				"WITH_PHYSX=0",
				"WITH_PHYSX_COOKING=0",
				"PHYSICS_INTERFACE_PHYSX=0",
				"WITH_APEX=0",
				"WITH_APEX_CLOTHING=0",
				"WITH_NVCLOTH=0",
				"WITH_IMMEDIATE_PHYSX=0",
				"WITH_CUSTOM_SQ_STRUCTURE=0",
				"GPUPARTICLE_LOCAL_VF_ONLY=0",
				"WITH_ODSC=0",
				"UE_WITH_IRIS=0",
				"ENGINE_API=DLLIMPORT",
				"UE_MEMORY_TAGS_TRACE_ENABLED=1",
				"UE_ENABLE_ICU=1",
				"WITH_ADDITIONAL_CRASH_CONTEXTS=1",
				"WITH_VS_PERF_PROFILER=1",
				"WITH_SUPERLUMINAL_PROFILER=0",
				"WITH_CONCURRENCYVIEWER_PROFILER=0",
				"WITH_DIRECTXMATH=0",
				"PLATFORM_SUPPORTS_PLATFORM_EVENTS=1",
				"PLATFORM_SUPPORTS_TRACE_WIN32_VIRTUAL_MEMORY_HOOKS=1",
				"PLATFORM_SUPPORTS_TRACE_WIN32_MODULE_DIAGNOSTICS=1",
				"PLATFORM_SUPPORTS_TRACE_WIN32_CALLSTACK=1",
				"UE_MEMORY_TRACE_AVAILABLE=1",
				"WITH_MALLOC_STOMP=1",
				"CORE_API=DLLIMPORT",
				"TRACELOG_API=DLLIMPORT",
				"PLATFORM_MAX_LOCAL_PLAYERS=0",
				"COREONLINE_API=DLLIMPORT",
				"COREUOBJECT_API=DLLIMPORT",
				"NETCORE_API=DLLIMPORT",
				"NETCOMMON_API=DLLIMPORT",
				"UE_WINDOWS_USING_UIA=1",
				"APPLICATIONCORE_API=DLLIMPORT",
				"RHI_WANT_BREADCRUMB_EVENTS=1",
				"RHI_WANT_RESOURCE_INFO=1",
				"RHI_API=DLLIMPORT",
				"IMAGECORE_API=DLLIMPORT",
				"JSON_API=DLLIMPORT",
				"JSONUTILITIES_API=DLLIMPORT",
				"WITH_FREETYPE=1",
				"SLATECORE_API=DLLIMPORT",
				"INPUTCORE_API=DLLIMPORT",
				"SLATE_API=DLLIMPORT",
				"WITH_UNREALPNG=1",
				"WITH_UNREALJPEG=1",
				"WITH_LIBJPEGTURBO=1",
				"WITH_UNREALEXR=1",
				"IMAGEWRAPPER_API=DLLIMPORT",
				"WITH_LIBTIFF=1",
				"MESSAGING_API=DLLIMPORT",
				"MESSAGINGCOMMON_API=DLLIMPORT",
				"RENDERCORE_API=DLLIMPORT",
				"ANALYTICSET_API=DLLIMPORT",
				"ANALYTICS_API=DLLIMPORT",
				"SOCKETS_PACKAGE=1",
				"SOCKETS_API=DLLIMPORT",
				"ASSETREGISTRY_API=DLLIMPORT",
				"ENGINEMESSAGES_API=DLLIMPORT",
				"ENGINESETTINGS_API=DLLIMPORT",
				"SYNTHBENCHMARK_API=DLLIMPORT",
				"RENDERER_API=DLLIMPORT",
				"GAMEPLAYTAGS_API=DLLIMPORT",
				"DEVELOPERSETTINGS_API=DLLIMPORT",
				"PACKETHANDLER_API=DLLIMPORT",
				"RELIABILITYHANDLERCOMPONENT_API=DLLIMPORT",
				"AUDIOPLATFORMCONFIGURATION_API=DLLIMPORT",
				"MESHDESCRIPTION_API=DLLIMPORT",
				"STATICMESHDESCRIPTION_API=DLLIMPORT",
				"SKELETALMESHDESCRIPTION_API=DLLIMPORT",
				"ANIMATIONCORE_API=DLLIMPORT",
				"PAKFILE_API=DLLIMPORT",
				"RSA_API=DLLIMPORT",
				"NETWORKREPLAYSTREAMING_API=DLLIMPORT",
				"PHYSICSCORE_API=DLLIMPORT",
				"COMPILE_WITHOUT_UNREAL_SUPPORT=0",
				"CHAOS_MEMORY_TRACKING=0",
				"CHAOS_API=DLLIMPORT",
				"CHAOS_CHECKED=0",
				"CHAOS_DEBUG_NAME=1",
				"CHAOSCORE_API=DLLIMPORT",
				"INTEL_ISPC=1",
				"VORONOI_API=DLLIMPORT",
				"GEOMETRYCORE_API=DLLIMPORT",
				"SIGNALPROCESSING_API=DLLIMPORT",
				"AUDIOEXTENSIONS_API=DLLIMPORT",
				"AUDIOMIXERCORE_API=DLLIMPORT",
				"AUDIOLINKCORE_API=DLLIMPORT",
				"COOKONTHEFLY_API=DLLIMPORT",
				"NETWORKING_API=DLLIMPORT",
				"TEXTUREBUILDUTILITIES_API=DLLIMPORT",
				"WITH_RECAST=1",
				"WITH_NAVMESH_SEGMENT_LINKS=1",
				"WITH_NAVMESH_CLUSTER_LINKS=1",
				"UNREALED_API=DLLIMPORT",
				"DIRECTORYWATCHER_API=DLLIMPORT",
				"DOCUMENTATION_API=DLLIMPORT",
				"MAINFRAME_API=DLLIMPORT",
				"READ_TARGET_ENABLED_PLUGINS_FROM_RECEIPT=1",
				"LOAD_PLUGINS_FOR_TARGET_PLATFORMS=1",
				"PROJECTS_API=DLLIMPORT",
				"SANDBOXFILE_API=DLLIMPORT",
				"EDITORFRAMEWORK_API=DLLIMPORT",
				"EDITORSUBSYSTEM_API=DLLIMPORT",
				"INTERACTIVETOOLSFRAMEWORK_API=DLLIMPORT",
				"TYPEDELEMENTFRAMEWORK_API=DLLIMPORT",
				"TYPEDELEMENTRUNTIME_API=DLLIMPORT",
				"SOURCE_CONTROL_WITH_SLATE=1",
				"SOURCECONTROL_API=DLLIMPORT",
				"UNCONTROLLEDCHANGELISTS_API=DLLIMPORT",
				"UNREALEDMESSAGES_API=DLLIMPORT",
				"GAMEPLAYDEBUGGER_API=DLLIMPORT",
				"BLUEPRINTGRAPH_API=DLLIMPORT",
				"HTTP_PACKAGE=1",
				"CURL_ENABLE_DEBUG_CALLBACK=1",
				"CURL_ENABLE_NO_TIMEOUTS_OPTION=1",
				"WITH_WINHTTP=1",
				"HTTP_API=DLLIMPORT",
				"FUNCTIONALTESTING_API=DLLIMPORT",
				"AUTOMATIONCONTROLLER_API=DLLIMPORT",
				"AUTOMATIONTEST_API=DLLIMPORT",
				"LOCALIZATION_API=DLLIMPORT",
				"WITH_SNDFILE_IO=1",
				"AUDIOEDITOR_API=DLLIMPORT",
				"AUDIOMIXER_API=DLLIMPORT",
				"AUDIOLINKENGINE_API=DLLIMPORT",
				"TARGETPLATFORM_API=DLLIMPORT",
				"TEXTUREFORMAT_API=DLLIMPORT",
				"LEVELEDITOR_API=DLLIMPORT",
				"SETTINGS_API=DLLIMPORT",
				"HEADMOUNTEDDISPLAY_API=DLLIMPORT",
				"VREDITOR_API=DLLIMPORT",
				"COMMONMENUEXTENSIONS_API=DLLIMPORT",
				"LANDSCAPE_API=DLLIMPORT",
				"PROPERTYEDITOR_API=DLLIMPORT",
				"ACTORPICKERMODE_API=DLLIMPORT",
				"SCENEDEPTHPICKERMODE_API=DLLIMPORT",
				"EDITORCONFIG_API=DLLIMPORT",
				"DETAILCUSTOMIZATIONS_API=DLLIMPORT",
				"CLASSVIEWER_API=DLLIMPORT",
				"GRAPHEDITOR_API=DLLIMPORT",
				"STRUCTVIEWER_API=DLLIMPORT",
				"CONTENTBROWSER_API=DLLIMPORT",
				"ASSETTOOLS_API=DLLIMPORT",
				"MERGE_API=DLLIMPORT",
				"COLLECTIONMANAGER_API=DLLIMPORT",
				"CONTENTBROWSERDATA_API=DLLIMPORT",
				"UELIBSAMPLERATE_API=DLLIMPORT",
				"ENABLE_HTTP_FOR_NFS=1",
				"NETWORKFILESYSTEM_API=DLLIMPORT",
				"UMG_API=DLLIMPORT",
				"MOVIESCENE_API=DLLIMPORT",
				"TIMEMANAGEMENT_API=DLLIMPORT",
				"MOVIESCENETRACKS_API=DLLIMPORT",
				"CONSTRAINTS_API=DLLIMPORT",
				"PROPERTYPATH_API=DLLIMPORT",
				"NAVIGATIONSYSTEM_API=DLLIMPORT",
				"GEOMETRYCOLLECTIONENGINE_API=DLLIMPORT",
				"MATERIALSHADERQUALITYSETTINGS_API=DLLIMPORT",
				"FIELDSYSTEMENGINE_API=DLLIMPORT",
				"CHAOSSOLVERENGINE_API=DLLIMPORT",
				"DATAFLOWCORE_API=DLLIMPORT",
				"DATAFLOWENGINE_API=DLLIMPORT",
				"MESHBUILDER_API=DLLIMPORT",
				"MESHUTILITIESCOMMON_API=DLLIMPORT",
				"TOOLMENUSEDITOR_API=DLLIMPORT",
				"TOOLMENUS_API=DLLIMPORT",
				"STATUSBAR_API=DLLIMPORT",
				"INTERCHANGECORE_API=DLLIMPORT",
				"INTERCHANGEENGINE_API=DLLIMPORT",
				"DEVELOPERTOOLSETTINGS_API=DLLIMPORT",
				"SUBOBJECTDATAINTERFACE_API=DLLIMPORT",
				"SUBOBJECTEDITOR_API=DLLIMPORT",
				"KISMET_API=DLLIMPORT",
				"PHYSICSUTILITIES_API=DLLIMPORT",
				"TOOLWIDGETS_API=DLLIMPORT",
				"AUDIOMIXERXAUDIO2_API=DLLIMPORT",
				"ASSETTAGSEDITOR_API=DLLIMPORT",
				"ADDCONTENTDIALOG_API=DLLIMPORT",
				"MESHUTILITIES_API=DLLIMPORT",
				"MESHMERGEUTILITIES_API=DLLIMPORT",
				"HIERARCHICALLODUTILITIES_API=DLLIMPORT",
				"MESHREDUCTIONINTERFACE_API=DLLIMPORT",
				"SKELETALMESHEDITOR_API=DLLIMPORT",
				"PERSONA_API=DLLIMPORT",
				"SKELETONEDITOR_API=DLLIMPORT",
				"ANIMATIONWIDGETS_API=DLLIMPORT",
				"ANIMATIONEDITOR_API=DLLIMPORT",
				"ADVANCEDPREVIEWSCENE_API=DLLIMPORT",
				"KISMETCOMPILER_API=DLLIMPORT",
				"GAMEPLAYTASKS_API=DLLIMPORT",
				"WITH_GAMEPLAY_DEBUGGER=1",
				"AIMODULE_API=DLLIMPORT",
				"CLOTHINGSYSTEMRUNTIMEINTERFACE_API=DLLIMPORT",
				"IRISSTUB_API=DLLIMPORT",
				"MOVIESCENECAPTURE_API=DLLIMPORT",
				"ANIMATIONDATACONTROLLER_API=DLLIMPORT",
				"ENHANCEDINPUT_API=DLLIMPORT",
				"PG_P1_API=DLLEXPORT"
			]
		},
		{
			"name": "Win32",
			"compilerPath": "C:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.29.30133\\bin\\HostX64\\x64\\cl.exe",
			"cStandard": "c17",
			"cppStandard": "c++17",
			"intelliSenseMode": "msvc-x64",
			"compileCommands": "H:\\game\\epic\\projects\\PG_P1\\.vscode\\compileCommands_Default.json"
		}
	],
	"version": 4
}